
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

h1 {
    color: #333;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(10, 100px);
    gap: 10px;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 100px;
    position: relative;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card-back {
    background-image: url('porsche-logo.jpg');
    background-size: cover;
    transform: rotateY(180deg);
}

.card-front img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
